<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ofspace</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body class="font-lexend overflow-x-hidden">
    <section
      class="h-screen bg-green0 bg-bgsecc1 bg-no-repeat bg-right-bottom bg-[length:53%] md:bg-[length:40%] lg:bg-[length:35%]"
    >
      <nav class="bg-transparent px-5 md:px-20 h-[8vh] pt-5 z-10">
        <div class="flex justify-between items-center">
          <a
            href="#"
            class="text-3xl md:text-4xl font-extrabold text-tittle select-none"
            >ofsp_ce</a
          >
          <button class="text-gray-800 md:hidden" aria-label="Abrir menú">
            <svg
              class="w-6 h-6"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M4 6h16M4 12h16m-7 6h7"
              ></path>
            </svg>
          </button>
          <ul
            class="hidden md:flex list-none gap-5 lg:gap-10 font-semibold select-none text-green3"
          >
            <li>
              <a
                href="#"
                class="rounded-md py-2 px-1 hover:bg-[#D6E0D5] transition-colors duration-900"
                >Instant Buy & Sell</a
              >
            </li>
            <li>
              <a
                href="#"
                class="rounded-md py-2 px-1 hover:bg-[#D6E0D5] transition-colors duration-900"
                >Markets</a
              >
            </li>
            <li>
              <a
                href="#"
                class="rounded-md py-2 px-1 hover:bg-[#D6E0D5] transition-colors duration-900"
                >Discover</a
              >
            </li>
            <li>
              <a
                href="#"
                class="rounded-md py-2 px-1 hover:bg-[#D6E0D5] transition-colors duration-900"
                >Sign Up</a
              >
            </li>
            <li>
              <a
                href="#"
                class="rounded-md py-2 px-1 hover:bg-[#D6E0D5] transition-colors duration-900"
                >Log In</a
              >
            </li>
          </ul>
        </div>
      </nav>
      <div class="flex flex-col lg:flex-row justify-between px-5 md:px-20">
        <div
          class="flex flex-col items-start mt-20 text-5xl md:text-6xl lg:text-7xl text-green3 font-semibold w-full lg:w-[50%]"
        >
          <div class="flex items-center mb-2 pr-0 md:pr-20 select-none">
            <p class="rounded-md py-2 pr-4">Upgrade</p>
            <img
              src="{{ url_for('static', filename='svg/ico_gold_coin.svg') }}"
              alt="Icono"
              class="w-16 md:w-20"
            />
          </div>
          <div
            class="flex items-center mb-2 pr-0 md:pr-20 select-none whitespace-nowrap"
          >
            <img
              src="{{ url_for('static', filename='svg/ico_man_bg.svg') }}"
              alt="Icono"
              class="w-16 md:w-20"
            />
            <p class="ml-2 rounded-md py-2 pr-4">to Ofspace</p>
          </div>
          <p class="rounded-md pr-0 md:pr-20 select-none">Global</p>
          <p
            class="text-green3 text-xs md:text-sm font-normal pt-6 pr-0 md:pr-20 select-none"
          >
            Ofspace global is the most trusted cryptocurrency <br />
            exchange known for its next-level security.
          </p>
          <button
            class="w-[5rem] md:w-[7rem] mt-6 transition-transform duration-300 ease-in-out transform hover:scale-105 mr-0 lg:mr-20"
          >
            <img
              src="{{ url_for('static', filename='svg/ico_free_account.svg') }}"
              alt="button"
            />
          </button>
        </div>
        <div class="w-full lg:w-[50%] flex flex-col mt-12 lg:mt-0">
          <div
            class="bg-bgmen bg-no-repeat bg-bottom h-[50vh] md:h-[70vh] lg:h-[92vh] transform transition-transform duration-300 hover:scale-105 grid grid-cols-2 gap-4"
          >
            <div
              class="flex flex-col space-y-4 justify-end mb-10 md:mb-[3rem] select-none"
            >
              <p
                class="px-5 py-2 my-2 max-w-56 text-center whitespace-nowrap text-green3 bg-white rounded-full transform transition-transform duration-300 hover:scale-105 ml-0 md:ml-10"
              >
                Unmatched Security
              </p>
              <p
                class="px-5 py-2 my-2 max-w-56 text-center whitespace-nowrap text-green3 bg-white rounded-full transform transition-transform duration-300 hover:scale-105"
              >
                The Wealth
              </p>
              <p
                class="px-5 py-2 my-2 max-w-56 text-center whitespace-nowrap text-green3 bg-white rounded-full transform transition-transform duration-300 hover:scale-105 ml-0 md:ml-10"
              >
                Leveraged Token
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section
      class="flex flex-col lg:flex-row justify-center items-center h-screen bg-bg245_indx px-5 md:px-20"
    >
      <div class="flex justify-center items-center w-full lg:w-1/2">
        <img
          src="{{ url_for('static', filename='svg/svg_bullet_bitcoins.svg') }}"
          alt="Imagen"
          class="w-3/4 transform transition-transform duration-300 hover:scale-105"
        />
      </div>
      <div
        class="flex flex-col justify-center items-center w-full lg:w-1/2 select-none"
      >
        <p
          class="text-green3 w-3/4 text-3xl md:text-4xl lg:text-5xl font-semibold"
        >
          Your Access to the <br />Top Coin Markets
        </p>
        <p class="text-green2 w-3/4 mt-7">
          Capitalize on trends and trade with confidence through our expansive
          marketplace listings.
        </p>
        <p class="text-green1 w-3/4 mt-5 font-semibold">
          Buy, sell and trade over 500 markets
        </p>
        <button
          class="w-3/4 mt-6 transition-transform duration-300 ease-in-out transform hover:scale-105"
        >
          <img
            src="{{ url_for('static', filename='svg/ico_free_account2.svg') }}"
            alt="button"
          />
        </button>
      </div>
    </section>
    <section
      class="bg-bg3_indx flex flex-col lg:flex-row items-center h-[120vh] bg-bgsecc3 bg-no-repeat bg-center text-green3 select-none text-sm transform transition-transform duration-300 hover:scale-105 px-5 md:px-20"
    >
      <div
        class="flex flex-col justify-center items-center w-full lg:w-1/2 h-full space-y-12"
      >
        <p
          class="transform transition-transform duration-300 hover:scale-105 text-center lg:text-left"
        >
          Bitcoin is storming the<br />Bastille, and we're up<br />front.
        </p>
        <p
          class="transform transition-transform duration-300 hover:scale-105 text-center lg:text-left"
        >
          Trading platform is <br />designed for those <br />who grasp the power
          <br />of blockchain's <br />promise,
        </p>
      </div>
      <div
        class="flex flex-col justify-center items-center w-full lg:w-1/2 h-full"
      >
        <p
          class="transform transition-transform duration-300 hover:scale-105 text-center lg:text-right"
        >
          we've created an exchange <br />to lead this revolutionary
          <br />technology.
        </p>
      </div>
    </section>
    <section
      class="flex flex-col h-auto lg:h-[230vh] bg-bg245_indx text-green3 space-y-20 px-5 md:px-20"
    >
      <p class="font-semibold text-center pt-20 text-4xl select-none">
        How to invest in coins
      </p>
      <div
        class="flex flex-col lg:flex-row justify-between items-center space-y-10 lg:space-y-0"
      >
        <div
          class="flex flex-col justify-center items-center space-y-5 w-full lg:w-1/3"
        >
          <img
            src="{{ url_for('static', filename='svg/svg_bullet_bitcoins.svg') }}"
            alt="Icono"
            class="w-[50%] transform transition-transform duration-300 hover:scale-105"
          />
          <p class="font-bold select-none">Create Account</p>
          <p class="text-center text-green1">
            Lorem ipsum dolor sit amet,<br />consectetur adipiscing elit. Duis
            quis<br />tincidunt magna, sit amet maximus<br />sapien.
          </p>
        </div>
        <div
          class="flex flex-col justify-center items-center space-y-5 w-full lg:w-1/3"
        >
          <img
            src="{{ url_for('static', filename='svg/svg_bullet_bitcoins.svg') }}"
            alt="Icono"
            class="w-[50%] transform transition-transform duration-300 hover:scale-105"
          />
          <p class="font-bold select-none">Fund Wallet</p>
          <p class="text-center text-green1">
            Lorem ipsum dolor sit amet,<br />consectetur adipiscing elit. Duis
            quis<br />tincidunt magna, sit amet maximus<br />sapien.
          </p>
        </div>
        <div
          class="flex flex-col justify-center items-center space-y-5 w-full lg:w-1/3"
        >
          <img
            src="{{ url_for('static', filename='svg/svg_bullet_bitcoins.svg') }}"
            alt="Icono"
            class="w-[50%] transform transition-transform duration-300 hover:scale-105"
          />
          <p class="font-bold select-none">Start Trading</p>
          <p class="text-center text-green1">
            Lorem ipsum dolor sit amet,<br />consectetur adipiscing elit. Duis
            quis<br />tincidunt magna, sit amet maximus<br />sapien.
          </p>
        </div>
      </div>
    </section>
  </body>
</html>
